In [10]:
import pandas as pd

In [11]:
DATA_DIR = '../_data/eCommerce-cosmetics/'
DATA_OCT = DATA_DIR+'2019-Oct.csv'
DATA_NOV = DATA_DIR+'2019-Nov.csv'
USECOLS = ["event_time","event_type","product_id","category_id","user_id"]

In [12]:
df = pd.concat([pd.read_csv(DATA_OCT, engine='c', sep=',',usecols=USECOLS)
                ,pd.read_csv(DATA_NOV, engine='c', sep=',',usecols=USECOLS)])

In [13]:
df["event_type"] = df["event_type"].astype("category")
df['event_time'] = pd.to_datetime(df['event_time'],infer_datetime_format=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8738120 entries, 0 to 4635836
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   event_time   datetime64[ns]
 1   event_type   category
 2   product_id   int64
 3   category_id  int64
 4   user_id      int64
dtypes: category(1), datetime64[ns](1), int64(3)
memory usage: 341.7 MB

In [14]:
df

,event_time,event_type,product_id,category_id,user_id
0,2019-10-01 00:00:00,cart,5773203,1487580005134238553,463240011
1,2019-10-01 00:00:03,cart,5773353,1487580005134238553,463240011
2,2019-10-01 00:00:07,cart,5881589,2151191071051219817,429681830
3,2019-10-01 00:00:07,cart,5723490,1487580005134238553,463240011
4,2019-10-01 00:00:15,cart,5881449,1487580013522845895,429681830
...,...,...,...,...,...
4635832,2019-11-30 23:59:46,view,5830317,1487580009496313889,457678989
4635833,2019-11-30 23:59:47,view,5733064,1487580004832248652,422196217
4635834,2019-11-30 23:59:47,view,5867785,1487580007835370453,572579084
4635835,2019-11-30 23:59:57,view,5779406,2151191071051219817,540006764
4635836,2019-11-30 23:59:58,view,5880201,2029731308699124089,579969854